/*导入字体样式*/
@font-face {
    font-family: 'Buda-Light';
    src:url(../fonts/Buda-Light.ttf) format('truetype');
}
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 幼圆,serif;
}
ul li{
    list-style: none;
}
a{
    color: black;
}
i{
	color:red;	
}
a:hover{
    color: #ff00ab;
    text-decoration: none;
}
.contain{
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height:100%;
}
/*左侧页面*/
.side_left{
    font-size: 1.5rem;
    height: 100%;
    padding: 3rem 0 0 1rem;
    background-color: #F4F3F3;
}
.logo{
    margin-top: 2rem;
    height: 3rem;
    font-size: 2.1rem;

}
.logo a{
    color: #ff3b00;
    font-family: Buda-Light, serif;
}
.logo span{
    font-size:0.7em;
    color: #ff41b1;
}
#row_nav{
    top: 8rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 2rem;
    position: absolute;
    overflow-y: scroll;
    padding-left:1rem;
}
#row_nav ul,#row_nav li{
    width: 100%;
    text-align: center;
}
#row_nav>div>a{
    font-size: 1.3rem;
    display: block;
    font-weight: bolder;
}
#row_nav>div>div a{
    font-size: 0.9rem;
    display: block;
    padding-top: 0.4rem;
}

.main,.main_text,.side_right{
    padding: 0;
    margin: 0;
}
/*右侧页面*/
.main{
    overflow: auto;
    overflow-x: hidden;
}
/*
右侧头部*/
.main_top{
    font-size: 1.2rem;
    line-height: 3rem;
    height: 3rem;
    background-color: #F4F3F3;
}
.main_top .menu{
    font-size: 2rem;
    display: none;
    line-height: 3rem;
    color: #ff1343;
    padding-right: 0.5rem;
    cursor: pointer;
}
.main_top ul{
    display: block;
}
.main_top ul li{
    display: inline-block;
    padding: 0 1.3rem;
}
#pics{
    padding: 0;
    width: 100%;
    background-color: #F4F3F3;
    border: solid 1px white;
}
.pagechange{
	position:absolute;
	top:0;
	width:100%;
    height: 3rem;
	margin:0;
	padding:0;
}
.pagechange ul{
	position:absolute;
	right:0;
}
.main_info{
    width: 100%;
    margin: 0;
}
.product_info{
	margin-top:3rem;
}
.side_right{
    position: relative;
    background-color: #F4F3F3;
}
.side_right ul{
	position:absolute;
    padding: 0;
    margin: 0;
}
.side_right ul form,.side_right ul i{
	display:none;
}
.side_right ul li{
	position:absolute
    list-style: none;
    margin-top: 1rem
}
.side_right i,.side_right form{
	width:160px;
    display: none;
    position:absolute;
    right:30px;
}
.side_right ul li input{
	width:100px;
}
.side_right span{
	min-width:40px;
	height:100%;
    font-size: 2rem;
    color: #6610f2;
}
.footer{
    width: 100%;
    border-left: solid 1px white;
    font-size: 1rem;
    height: 14rem;
    border-top: solid 1px white;
    background-color: #F4F3F3;
}
.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
@media (max-width: 991px) {
    .logo{
        font-size: 1.8rem;
    }
    #row_nav>div>a{
        font-size: 1.3rem;
        display: block;
    }
    /*
    右侧头部*/
    .main_top{
        font-size: 1rem;
    }
    .main_top .menu{
        display: block;
    }
    .main_top ul{
        display: none;
        position: absolute;
        z-index:99;
        left: 0;
        width: 100%;
        background-color:#F4F3F3;
    }
    .main_top ul li{
        display: block;
        float:none;
        text-align:center;
    }
    .side_right span{
        font-size: 1.6rem;
    }
}
@media(max-width: 768px){
    .logo{
        font-size: 1.3rem;
    }
    #row_nav>div>a{
        font-size: 1rem;
    }
    /*
    右侧头部*/
    .main_top{
        font-size: 1rem;
    }
    .main_top .menu{
        display: block;
    }
    .main_top ul{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
    }
    .main_top ul li{
        display: block;
    }
    .side_right span{
        font-size: 1.6rem;
    }
}
@media (max-width: 640px) {
    .logo{
        font-size: 1rem;
    }
    .side_right span,.footer{
        font-size: 1.4rem;
    }
        .footer{
    	font-size: 1rem;
    }
}
@media (max-width: 480px){
    #row_nav>div>a{
        font-size: 0.8rem;
        display: block;
    }
    .side_right span,{
        font-size: 1.2rem;
    }
    .footer{
    	font-size: 0.8rem;
    }
}