/*商品信息样式*/
.product-info{
    margin:0 1rem 0 20%;
}
.product-info>div{
    margin: 0.5rem 0;
}
.price{
    font: bolder 1rem 宋体;
    color: red;
}
.pagechange{
    position: absolute;
    right: 20px;
    top: 70px;
}
.pagechange li{
    width: 20px;
    height: 20px;
}
