/* *{
    padding: 0px;
    margin: 0px;
}
#login{
    text-align: center;
    height:923px;
}
#center{
    position: absolute;
    background: url("../images/login_form.png");
    width: 551px;
    height: 364px;
    top:15%;
    left:35%;
}
[name="userAccount"]{
    border: 1px;
    position: absolute;
    left: 31px;
    top:94px;
    width: 480px;
    height: 28px;
    background: #ececec;
    text-indent: 1px;
}
[type="password"]{
    border: 1px;
    position: absolute;
    left: 31px;
    top:132px;
    width: 480px;
    height: 28px;
    background: #ececec;
    text-indent: 1px;
}
[type="button"]{
    border: 1px;
    position: absolute;
    left: 31px;
    top:212px;
    width: 488px;
    height: 28px;
    background: rgba(1,1,1,0);
    text-indent: 1px;
}
#ff p{
	position: absolute;
    left: -177px;
    top:252px;
    width: 488px;
    height: 28px;
    background: rgba(1,1,1,0);
    text-indent: 1px;
}
#cc{
	position: absolute;
    left: 0;
    top:169px;
    width: 100%;
    height: 30px;
    background: rgba(255,255,255,1);
    text-indent: 1px;
    text-align:left;
}
[name="checkCode"]{
	border:1px;
	margin:0 50px 0 30px;
	width:200px;
	background: #ececec;
	height: 28px;
} */
body{
		margin: 0;
		padding: 0;
	}
	#img{
		cursor: pointer;
	}
	#backgrounds{
		position: absolute;;
		top: 30%;
		left:37.5%;
		width: 450px;
		padding: 10px 30px;
		background-color: white;
	}
	h5,div{
		margin: 10px 0;
	}
	input[type="text"],input[type="password"]{
		border: 0;
		background-color: #ebebe0;
		width: 420px;
		height: 25px;
		outline: none;
		text-indent: 5px;
	}
	input[type="button"]{
		width: 420px;
		height: 25px;
		background-color: black;
		border: 0;
		color: white;
	}
	a{
		text-decoration: none;
		color: black;
	}
	#last{
		text-align: right;
		margin: 0 35px 25px 0;
		font-size: 12px;
	}
	#hint{
		color: red;
	}
	#checkCode{
		width: 200px;
	}