*{
    margin:0px;
    padding:0px;
    font-size:12px;
}
a{
    text-decoration: none;
    color: grey;
}
ul:after{
    content: "";
    display: block;
    clear: both;
}
li{
    list-style: none;
}
#left{
    text-align: center;
    background:#fafafa;
    height:100%;
    width:10%;
    position: fixed;
    min-width: 160px;
    padding: 30px 20px;
}
#right{
    width:85%;
    float: right;
    padding-top:50px ;
}
#side_bar{
    margin-top: 20px;
}
#side_bar li{
    height: 30px;
    line-height: 30px;
}
#quarter{
	position:relative;
}
#quarter:hover ul{
	 display:block; 
}
#quarter ul{
	display:none;
	position:absolute;
	top:-30px;
	right:-10px;
	background:white;
	color:grey;
	width:60px;
}
#pro_img{
    text-align:center;
    padding-top:50px ;
}
#right_content{
	background:#fafafa;
	position:fixed;
	right:0;
	top:0;
	width:25%;
	height:100%;
	padding:30px 0 0 30px;
}
#right_content h4{
	font-weight:bold;
	font-size:20px;
	margin-bottom:20px;
}
#right_content h5{
	font-weight:500;
	font-size:14px;
	margin-bottom:10px;
}
#add_car{
	margin-top:50px;
	text-align:center;
}
#add_car a{
	display:inline-block;
	width:173px;
	height:40px;
	background:url("../images/add_car.png")no-repeat;
<<<<<<< HEAD
=======
}
#add_car_hint{
	width:300px;
	height:250px;
	text-align:center;
	position:fixed;
	z-index:2;
	background:white;
	border:1px solid grey;
	left:38%;
	top:20%;
	display:none;
}
#add_car_hint h3{
	font-size:16px;
	margin:30px 0 150px;
}
#jxBuy{
	display:inline-block;
	background:url("../images/jxBuy.png")no-repeat;
	width:80px;
	height:32px;
	margin-right:20px;
	cursor:pointer;
}
#clearing{
	display:inline-block;
	background:url("../images/clearing.png")no-repeat;
	width:56px;
	height:32px;
>>>>>>> 2d19429f8436d2f2db43d8371f1ab23635cb3fdf
}