#right_content{
	background:#fafafa;
	position:fixed;
	right:0;
	top:0;
	width:25%;
	height:100%;
	padding:30px 0 0 30px;
}
#right_content h4{
	font-weight:bold;
	font-size:20px;
	margin-bottom:20px;
}
#right_content h5{
	font-weight:500;
	font-size:14px;
	margin-bottom:10px;
}
#add_car{
	margin-top:50px;
	text-align:center;
}
#add_car a{
	display:inline-block;
	width:173px;
	height:40px;
	background:url("../images/add_car.png")no-repeat;
}
#add_car_hint{
	width:300px;
	height:250px;
	text-align:center;
	position:fixed;
	z-index:2;
	background:white;
	border:1px solid grey;
	left:38%;
	top:20%;
	display:none;
}
#add_car_hint h3{
	font-size:16px;
	margin:30px 0 150px;
}
#jxBuy{
	display:inline-block;
	background:url("../images/jxBuy.png")no-repeat;
	width:80px;
	height:32px;
	margin-right:20px;
	cursor:pointer;
}
#clearing{
	display:inline-block;
	background:url("../images/clearing.png")no-repeat;
	width:56px;
	height:32px;
}
.img_bottom{
	position:relative;
}