.imgs{
	width: 80px;
	height: 80px;
	padding-left: 40px;
}
#td1{
	padding-left: 40px
}
td{
	padding: 10px;
}
.tag{
	border: 1px solid #e3e3e3;
}
.tagfirst{
	background-color: #e3e3e3;
	border: 1px solid #e3e3e3;
}
#quarter>#quar{
	right:-55px;
	width: 100px;
}